
<ion-content>

    <form [formGroup]="resetForm">
      <ion-row>
        <ion-col>
          <h1>Reset password</h1>
          <p>Fill in your email address to regain access to your account.</p>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="text" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="reset()" type="submit" color="danger" expand="block">Request new password</ion-button> 
          </ion-col>
        </ion-row>
    </form>
</ion-content>
