<form [formGroup]="concatPersonForm">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input formControlName="first_name" required></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input formControlName="last_name" required></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input formControlName="phone"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
