<ion-content>

    <form [formGroup]="loginForm" (ngSubmit)="login()" >
      <ion-row>
        <ion-col>
          <h1>Login ✌️</h1>
          <p>Login using your username and password.</p>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="text" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block">Login</ion-button> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>

          </ion-col>
        </ion-row>

    </form>
</ion-content>
