
<ion-content>

    <form [formGroup]="changeForm">
      <ion-row>
        <ion-col>
          <h1>Reset password</h1>
          <p>Fill in your email address to regain access to your account.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">New password</ion-label>
            <ion-input formControlName="newPass" type="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Retype new password</ion-label>
            <ion-input formControlName="newPassRetype" type="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="update()" type="submit" color="danger" expand="block">Update password</ion-button> 
          </ion-col>
        </ion-row>
    </form>
</ion-content>
